.icon {
  cursor: pointer;
    padding: 10px;
    color: black;
    background-color: red;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 10px;
}
