:root {
  --app-primary: #00CC99;
  --app-primary-dark: #838383;
  --app-secondary: #C4FFEA;
  --app-dark: #191919;
  --app-light: #FFFFFF;
  --app-darklight: #C3C3C3;
  --app-darklight2: #A0A0A0;
  --app-error: #E2445C;
  --app-warning: #FFD902;
  --app-success: #9EBF6B;
}
